body {
    background-color: ghostwhite;   
}

.container {
    display: flex;
    margin: 5%;
    background-color:ghostwhite;
}

.contaier-2 {
    display: flex;
    justify-content: center;
}

.item-2 {
    display: flex;
    font-size: 40px;
    justify-content: center;
}

.item {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color:grey;
}

.item + .item {
    margin-left: 0.5%;
}

a {
    width: 100%;
    height: 100%;
    text-align: center; 
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: ghostwhite;
}