body {
    background-color: ghostwhite;   
}

.container {
    display: flex;
    margin: 6%;
    background-color: grey;
}

.contaier-2 {
font-size: 50px;
}

.item {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

a {
    width: 100%;
    height: 100%;
    text-align: center; 
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: ghostwhite;
}