body{
    background-color: white;
}

#banner{
    width: auto;
    height: 200px;
    background-color: black;
    border: 5px;
}

#buttons{
    width: 650px;
    height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    border-bottom-width: 0px;
    padding: 15px 32px;
    text-align: center;
}




div{
    box-sizing: border-box;

}

div.page{
    width: 25%;
    height: 100%;
    border: 2px solid white;
    border-bottom-width: 0px;
    background-color: grey;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;

}

#content{
    margin: 0 auto;
    height: auto;
    width: 650px;
    background-color: white;
    border: 2px black;
    border-top-width: 0px;
    padding: 5px;

}
#me{
    background-color: blueviolet;
}